<mat-menu>
</mat-menu>



<div class="container-fluid">

    <div class="row clientMode">
        <div class="col">
            <button mat-menu-item (click)="profile()" class="matMenuFont">Profil</button>
        </div>
        <div class="col">
            <button mat-menu-item (click)="objects()" class="matMenuFont">Objekti</button>
        </div>
        <div class="col">
            <button mat-menu-item (click)="agencies()" class="matMenuFont">Agencije</button>
        </div>
        <div class="col">
            <button mat-menu-item (click)="business()" class="matMenuFont">Poslovi</button>
        </div> 
        <div class="col">
            <button mat-menu-item (click)="logout()" class="matMenuFont">Izloguj se</button>
        </div>
        <div class="col">
            <button mat-menu-item (click)="changePassword()" class="matMenuFont">Promeni lozinku</button>
        </div>
    </div>
</div>
<br>
<div class="welcome">Dobrodošli {{korisnik.username}}!</div>