<mat-menu>
</mat-menu>



<div class="container-fluid">

    <div class="row changeMenu">
        <div class="col">
            <button mat-menu-item (click)="back()" class="matMenuFont">Nazad</button>
        </div>
        <div class="col">
            <button mat-menu-item (click)="logout()" class="matMenuFont">Izloguj se</button>
        </div>
    </div>
</div>
<br>
<div class="changeMenu">
    <table>
        
        <tr>
            <td>Lozinka:</td>
            <td><input type="password" name="password" [(ngModel)]="oldPassword"></td>
            <td> <span *ngIf='errorOldPassword' class="errorClass">{{errorOldPassword}}</span></td>
        </tr>
        <tr>
            <td>Nova lozinka:</td>
            <td><input type="password" name="Newpassword" [(ngModel)]="newPassword"></td>
            <td> <span *ngIf='errorNewPassword' class="errorClass">{{errorNewPassword}}</span></td>
        </tr>
        <tr>
            <td>Ponovite novu lozinku:</td>
            <td><input type="password" name="Repeatedpassword" [(ngModel)]="newPasswordRepeated"></td>
            <td> <span *ngIf='errorNewPasswordRepeated' class="errorClass">{{errorNewPasswordRepeated}}</span></td>
        </tr>
        <tr>
            
            <td>
                <button (click)="change()" class="button" >Promeni</button>
            </td>
        </tr>
    </table>
</div>
<div class="changeMenu successClass">
    {{alertMessage}}
</div>
<br>