<mat-menu>
</mat-menu>



<div class="container-fluid">

    <div class="row loginMenu">
        <div class="col">
            <button mat-menu-item (click)="back()" class="matMenuFont">Početna strana</button>
        </div>
    
        
        <div class="col">
            <button mat-menu-item (click)="register()" class="matMenuFont">Registruj se</button>
        </div>
        <div class="col">
            <button mat-menu-item (click)="login()" class="matMenuFont">Uloguj se</button>
        </div>
    </div>
</div>
<br>
<div class="loginMenu">
    <table>
        <tr>
            <td>Vas email:</td>
            <td><input type="text" name="email" [(ngModel)]="email"></td>
            <td> <span *ngIf='errorEmail' class="errorClass">{{errorEmail}}</span></td>
        </tr>
        <tr>
            
            <td>
                <button (click)="reset()" class="button" >Potvrdi</button>
            </td>
        </tr>
    </table>
</div>
<br>
<div *ngIf="addedPass" class="loginMenu successClass">
    {{alertMessage}}
</div>