header {
    height:65px;
    margin-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    padding-bottom: 5px;    
    background-color: lightblue;
}




.logo {
    height: 70px;
    width: 100%;
}

.headerLogo {
    float: left;   
}

.headerName {
    float: right;   
}
