.loginMenu{
    display: flex; 
    justify-content:center; 
    align-items:center;
   
    
}
.matMenuFont{
    font-size: 18px;
    font-weight: 500;
    text-align:center;

}
.textBig{
    font-size: 18px;
    font-weight: 500;
}
.tableMenu{
    
    border-color: black;
    justify-content: left;
    display: flex; 
    align-items:left;
    border-spacing: 50px;
    width: max-content;
    border-width: 2px;
    
}
.errorClass{
    color: red;
}

.successClass{
    color: green;
}
.tableComponent{
    background-color: whitesmoke;
    border-width: 20px;
    

}
.nameAgency{
    background-color: whitesmoke;
    font-size: 30px;
    border-radius: 10%;
  

}
.button{
    background-color: lightblue;
    border-radius: 12px;
    border-color: whitesmoke;
}